/** DO NOT TOUCH */
/** General layout */
*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

/** Header layout */
header{
    display: flex;
    justify-content: center;
    border: 2px black solid;
}

/** Main window layout with all 3 sections*/
main{
    display: flex;
    justify-content: center;
    max-height: 100vh;
    width: 100%;
}

/** Flux layout manager */
#flux-container{
    display: flex;
    width: 64%;
    height: 100vh;
}

#flux{
    flex: 1;
    overflow-y: auto;
}

/** Actions and messages layout manager*/

#actions-container, #messages-container{
    display: flex;
    width: 18%;
    height: 100vh;
    border: 2px black solid;
}

#actions, #messages{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

/** section for the discussion in the MsgPage */
#discussion-container{
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 100vh;
    border: 2px black solid;
    position: relative;
}

#discussion {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 120px; /* More space for input container */
}