*{
    width: 100%;
}

/** Form layout */
#form-container{
    display: flex;
    flex-direction: column;
}

#form-title,
#form-image,
#form-tags,
#form-text{
    margin-bottom: 10px;
}

#form-text{
    resize: none;
}

#form-tags{
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

#form-post, #form-cancel{
    background-color: #666666;
}

#form-post-text, #form-cancel-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: auto;
    color: #ffffff;
}

