/** Head container layout */
.head-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #E40032;
}

/** Components layout */
#search{
    width: 35%;
    height: 50%;
    margin: auto;
}

#app-name{
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

#profile{
    width: 20%;
    height: 100%;
    background-color: #666666;
}

#profile-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: auto;
    color: #ffffff;
}