/* LIGHT MODE COLORS */
:root {
    --color-1: #9696969c;
    --color-2: #ffffff;
    --color-3: #f1f1f1;
    --color-4: #8d8d8d;
    --color-5: #242424;
    --color-6: #1a1a1a;
    --color-7: #5e5e5e;
    --color-8: #ac0e0e;
    --color-t-1: rgba(0, 0, 0, 0.3);
    --color-t-2: rgb(184, 0, 24);

    --color-white: #ffffff;
    --color-black: #000000;
    --sidebar-width-collapsed: 64px;
    --sidebar-width-expanded: 200px;
}

/* DARK MODE COLORS */
[data-theme="dark"] {
    --color-1: #9696969c;
    --color-2: #1a1a1a;
    --color-3: #242424;
    --color-4: #8d8d8d;
    --color-5: #eeeeee;
    --color-6: #f7f7f7;
    --color-t-1: rgba(0, 0, 0, 0.3);
    --color-t-2: rgba(0, 0, 0, 0.5);

    
    --color-white: #ffffff;
    --color-black: #000000;
}
