/* LIGHT MODE COLORS */
:root {
    --bg: #ffffff;
    --bg-secondary: #c9c9c9;
    --bg-dark: #acacac;
    --accent: #E40032;
    --bg-button: #700000;
    --bg-button-hover: rgba(37, 37, 37, 0.4);
    --text: #111111;
    --text-contrast: #eeeeee;
    --text-muted: #666666;
    --border: #cccccc;
    --border-dark: #999;
    --border-contrast: #333333;
    --header-bg: lightgrey;
}

/* DARK MODE COLORS */
[data-theme="dark"] {
    --bg: #282828;
    --bg-secondary: #1e1e1e;
    --accent: #E40032;
    --bg-button: #666666;
    --bg-button-hover: rgba(37, 37, 37, 0.4);
    --text: #eeeeee;
    --text-contrast: #eeeeee;
    --text-muted: #aaaaaa;
    --border: #333333;
    --border-dark: #999;
    --border-contrast: #cccccc;
    --header-bg: #1e1e1e;
}