.message{
    display: flex;
    border-bottom: 2px black solid;
    height: 75px;
    margin-left: 4px;
    margin-right: 4px;
}

#pfp-container{
    display: flex;
    width: 30%;
}

#msg-container{
    width: 70%;
}

#pfp{
    object-fit: cover;
}