#messages-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-header {
    padding: 15px;
    border-bottom: 2px solid var(--color-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-3);
}

.sidebar-title {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.add-toggle-btn {
    border: 1px solid var(--color-5);
    background: none;
    color: var(--color-5);
    cursor: pointer;
    padding: 0px 8px;
    font-size: 18px;
    transition: all 0.2s ease;
}

/* State when adding a user */
.add-toggle-btn.active {
    background: var(--color-1);
    color: var(--color-6);
}

.add-user-section {
    padding: 10px;
    border-bottom: 1px solid var(--color-4);
    background-color: var(--color-3);
}

.messages-error {
    padding: 10px;
    border-bottom: 1px solid var(--color-4);
    color: var(--color-1);
    background-color: var(--color-2);
    font-size: 12px;
}

.user-id-input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-4);
    font-size: 12px;
    margin-bottom: 5px;
    outline: none;
}

.start-chat-btn {
    width: 100%;
    padding: 6px;
    background-color: var(--color-4);
    color: var(--color-6);
    font-size: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.users-list {
    flex: 1;
    overflow-y: auto;
}

.empty-list-msg {
    padding: 20px;
    text-align: center;
    color: var(--color-6);
    font-size: 12px;
}

