/** DO NOT TOUCH */
/** General layout */
*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

/** Header layout */
header{
    display: flex;
    justify-content: center;
    border: 2px black solid;
}

/** Main window layout with all 3 sections*/
main{
    display: flex;
    justify-content: center;
    max-height: 100vh;
    width: 100%;
}

/** Flux layout manager */
#flux-container{
    display: flex;
    width: 60%;
    height: 100vh;
    background-color: whitesmoke;
}

#flux{
    flex: 1;
    overflow-y: auto;
}

/** Actions and messages layout manager*/

#actions-container, #messages-container{
    display: flex;
    width: 20%;
    height: 100vh;
    background-color: lightgray;
    border: 2px black solid;
}

#actions, #messages{
    flex: 1;
    overflow-y: scroll;
}