*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

/** Header layout */
header{
    display: flex;
    justify-content: center;
}

/** Main window layout with all 3 sections*/
main{
    display: flex;
    justify-content: center;
    max-height: 100vh;
}

/** Flux layout manager */
#flux-container{
    display: flex;
    width: 60%;
    height: 100vh;
    background-color: whitesmoke;
}

#flux{
    flex: 1;
    overflow-y: auto;
}

/** Actions and messages layout manager*/

#actions-manager, #messages-manager{
    display: flex;
    width: 20%;
    height: 100vh;
    background-color: lightgray;
}

#actions, #messages{
    flex: 1;
    overflow-y: scroll;
}