/** Head container layout */
.head-container{
    width: 100%;
    height: 5vf;
    display: flex;
    justify-content: space-between;
}

/** Components layout */
#search{
    width: 35%;
    height: 50%;
    margin: auto;
}

#app-name{
    width: 20%;
    margin: auto;
}

#profile{
    width: 20%;
    height: 100%;
}