/** Post borders */
.post{
    border-bottom: 2px black solid;
    margin-bottom: 25px;
    margin-left: 4px;
    margin-right: 4px;
}

#post-header{
    background-color: lightgrey;
}

/** Post layouts */
#op-info{
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
}

#title, #op-info{
    margin-left: 1%;
    margin-top: 1%;
}

/** Image layouts */
#image-container{
    display: flex;
    justify-content: center;
}

#image{
    min-width: 50%;
    min-height: 50%;
    max-width: 75%;
    max-height: 75%;
}
